<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Felipe Chiapini</h1>
		<p>I'm a software developer. I've learned Web development for the last three months</p>
	</div>
</div>
